* {
    font-family: 'Noto Sans TC', 微軟正黑體, sans-serif;
}

.page-intro{
    background-image:url(../image/bg/15_2.jpg),url(../image/p4.png);
    background-size:cover,auto;
    background-repeat: no-repeat,repeat;
    height:100vh;
}
.intro-bigTitle_1{
    font-weight: regular;
    position: fixed;
    top:18.5vh;
    left:28vw;
    background-image:url(../image/icon/underline.png);
    background-size:220px 12px; 
    background-repeat: no-repeat;
    background-position: right bottom;
    font-size: 2.4em;
    color: #000000;
    height: 8vh;
    width: 16.9vw;
    display: flex;
    align-items: flex-start;
}
.nextpage{
    background-image: url(../image/bg/職員切版-07.png);
    width: 8vh;
    height: 8vh;
    position: absolute;
    left: 55vw;
    top: 3.5vh;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 999em;
}
.nextpage:hover{
    background-image: url(../image/bg/職員切版-08.jpg);
    cursor:pointer;
}
.prepage{
    background-image: url(../image/bg/職員切版-05.png);
    width: 8vh;
    height: 8vh;
    position: absolute;
    background-size: contain;
    top: 9vh;
    left: -11vw;
    background-repeat: no-repeat;
    border-radius: 999em;
}
.prepage:hover{
    background-image: url(../image/bg/職員切版-06.jpg);
    cursor:pointer;
}
.ra-circle_first{
    position: relative;
    top:35vh;
    left:27vw;
    height: 23vh;
    width: 88vw;
    margin-top: 0vh;
    border: solid 0px green;
}
.ra-circle_first_block_1{
    margin-top: 0vh;
    border: solid 0px green;
    float:left;
    width: 27vw;
    height:23vh;
}
.ra-circle_1{
    background-image: url(../image/7_1.png);
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
    float:left;
    border-radius: 999em;
    width:23vh;
    height:23vh;
    color: #FFFFFF;
}
.ra-circle_first_block_2{
    position:relative;
    left:1vw;
    float:left;
    height: 25vh;
    width:27vw;
    margin-top: 0vh;
    border: solid 0px green;
}
.ra-circle_2{
    background-image: url(../image/7_3.png);
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
    float:left;
    border-radius: 999em;
    width:23vh;
    height:23vh;
    color: #FFFFFF;
}
.ra-circle_7{
    background-image: url(../image/7_7.png);
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
    float:left;
    border-radius: 999em;
    width:23vh;
    height:23vh;
    color: #FFFFFF;
}
.ra-circle_first_block_3{
    position:absolute;
    height: 25vh;
    margin-top: 0vh;
    border: solid 0px green;
}
.ra-circle_3{
    background-image: url(../image/7_2.png);
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
    float:left;
    border-radius: 999em;
    width:23vh;
    height:23vh;
    color: #FFFFFF;
    left:0px;
}
.ra-circle_second{
    position: relative;
    top:40vh;
    left:38vw;
    height: 25vh;
    width: 70vw;
    margin-top: 0vh;
    border: solid 0px green;
}
.ra-circle_second_block_1{
    clear:both;
    float:left;
    height: 23vh;
    width: 25vw;
    margin-top: 0vh;
    border: solid 0px green;
}
.ra-circle_4{
    background-image: url(../image/7_4.png);
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
    float:left;
    border-radius: 999em;
    width:23vh;
    height:23vh;
    color: #FFFFFF;
}
.ra-circle_second_block_2{
    position:relative;
    float:left;
    left:1vw;
    height: 25vh;
    width:25vw;
    margin-top: 0vh;
    border: solid 0px green;
}
.ra-circle_5{
    background-image: url(../image/7_5.png);
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
    float:left;
    border-radius: 999em;
    width:23vh;
    height:23vh;
    color: #FFFFFF;
}
.ra-circle_8{
    background-image: url(../image/7_8.png);
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
    float:left;
    border-radius: 999em;
    width:23vh;
    height:23vh;
    color: #FFFFFF;
}
.ra-circle_second_block_3{
    position:absolute;
    height: 25vh;
    margin-top: 0vh;
    border: solid 0px green;
}
.ra-circle_6{
    background-image: url(../image/7_6.png);
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
    float:left;
    border-radius: 999em;
    width:23vh;
    height:23vh;
    color: #FFFFFF;
}
.first_block_context_block{
    position:relative;
    overflow-x: hidden;
    overflow-y: hidden;
    width:10vw;
    height:23vh;
    left:1vw;
    top:2.5vh;
}
.second_block_context_block{
    position:relative;
    overflow-x: hidden;
    overflow-y: hidden;
    width:10vw;
    height:23vh;
    left:1vw;
    top:2.5vh;
}
.first_first_line{
    font-weight: regular;
    font-size: 15.5px;
    color: #000000;
}
.first_second_line{
    position: absolute;
    top:24.582px;
    font-weight: regular;
    font-size: 39px;
    color: #000000;
}
.first_third_line{
    position: absolute;
    top:86.353px;
    font-weight: regular;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
}
.middle_line{
    position: absolute;
    top:76.405px;
    width:100vh;
    height:1px;
    background:#E0E0E0;
}
.mobile{
    display: none;
}