* {
    font-family: 'Noto Sans TC', 微軟正黑體, sans-serif;
}
.page-intro {
    background-image: url(../image/bg/05_1.jpg), url(../image/p4.png);
    background-size: cover, auto;
    background-repeat: no-repeat, repeat;
    height: 100vh
}

.intro-subpage,
.intro-subpage-1 {
    float: left;
    width: 820px;
    height: 630px;
    white-space: normal;
    background-repeat: no-repeat
}

.intro-bigTitle {
    font-weight: 400;
    font-size: 2.8em;
    color: #000;
    line-height: 6vh;
    margin-top: .5vmin
}

.left {
    background-image: url(../image/bg/cooperation_left.png);
    width: 4vh;
    height: 4vh;
    position: absolute;
    background-size: contain;
    top: 72vh;
    left: 30vw;
    background-repeat: no-repeat;
    border-radius: 999em
}

.left:hover {
    cursor: pointer
}

.right {
    background-image: url(../image/bg/cooperation_right.png);
    width: 4vh;
    height: 4vh;
    position: absolute;
    background-size: contain;
    top: 72vh;
    left: 33vw;
    background-repeat: no-repeat;
    border-radius: 999em
}

.right:hover {
    cursor: pointer
}

.intro-bigTitle_1 {
    font-weight: regular;
    position: fixed;
    top: 18.5vh;
    left: 28vw;
    background-size: 220px 12px;
    background-repeat: no-repeat;
    background-position: right bottom;
    font-size: 2em;
    color: #000;
    height: 8vh;
    width: 40vw;
    display: flex;
    align-items: flex-start
}

.ra-circle_block {
    position: fixed;
    top: 33vh;
    left: 28vw;
    height: 370px;
    width: 930px;
    margin-top: 0;
    border: solid 0 green
}

.ra-circle_first {
    position: relative;
    height: 170px;
    width: 930px
}

.ra-circle_second {
    position: relative;
    height: 170px;
    width: 930px;
    top: 30px
}

.circle_p1_1 {
    width: 100%;
    position: relative;
    top: 35%;
    font-weight: 700;
    font-size: 1.5vw;
    line-height: 15.79pt;
    color: #fff
}

.circle_p1_2 {
    width: 100%;
    position: relative;
    top: 35%;
    font-weight: 700;
    font-size: 1.5vw;
    line-height: 15.79pt;
    color: #fff
}

.circle_p2 {
    width: 100%;
    position: relative;
    opacity: .5;
    top: 48%;
    left: 14%;
    font-weight: light;
    font-size: 15.04px;
    line-height: 15.79px;
    color: #fff
}

.ra-circle_l {
    background-image: url(../image/icon/cooperate_circle.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    text-align: center;
    font-size: 17px;
    border-radius: 999em;
    width: 170px;
    height: 170px;
    color: #fff;
    left: 55px
}

.ra-circle_2 {
    background-image: url(../image/icon/cooperate_circle.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    text-align: center;
    font-size: 17px;
    border-radius: 999em;
    width: 170px;
    height: 170px;
    color: #fff;
    left: 290px
}

.ra-circle_3 {
    background-image: url(../image/icon/cooperate_circle.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    text-align: center;
    font-size: 17px;
    border-radius: 999em;
    width: 170px;
    height: 170px;
    color: #fff;
    left: 525px
}

.ra-circle_4 {
    background-image: url(../image/icon/cooperate_circle.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    text-align: center;
    font-size: 17px;
    border-radius: 999em;
    width: 170px;
    height: 170px;
    color: #fff;
    left: 180px
}

.ra-circle_5 {
    background-image: url(../image/icon/cooperate_circle.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    text-align: center;
    font-size: 17px;
    border-radius: 999em;
    width: 170px;
    height: 170px;
    color: #fff;
    left: 415px
}

.ra-circle_6 {
    background-image: url(../image/icon/cooperate_circle.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    text-align: center;
    font-size: 17px;
    border-radius: 999em;
    width: 170px;
    height: 170px;
    color: #fff;
    left: 650px
}

.intro-second-page-left {
    float: left;
    width: 29vw;
    height: 40vh;
    margin-top: 28px;
    border: solid red 0
}

.intro-second-page-right {
    float: left;
    width: 25vw;
    height: 40vh;
    margin-left: 2vw;
    margin-top: 28px;
    border: solid #00f 0
}

.intro-p2-block1 {
    float: left;
    padding-top: 1vw;
    height: 6vw;
    width: 5vw;
    font-weight: 350;
    font-size: 1.2em;
    line-height: 2vw;
    color: #000;
    border: solid 1.5px #000;
    text-align: center
}

.intro-p3-block {
    margin-top: 28px;
    margin-right: 20px;
    padding-top: 1vw;
    float: left;
    height: 6vw;
    width: 5vw;
    font-weight: 350;
    font-size: 1.2em;
    line-height: 2vw;
    color: #000;
    border: solid 1.5px #000;
    text-align: center
}

.intro-p3-block1 {
    float: left;
    width: 25vw;
    margin-top: 28px;
    border: solid 0 red
}

.intro-p3-block2 {
    float: left;
    width: 25vw;
    margin-top: 28px;
    border: solid 0 red
}

.intro-p4-block1 {
    float: left;
    margin-top: 5px;
    height: 4vw;
    width: 2.5vw;
    font-weight: 350;
    font-size: 1.2em;
    line-height: 2vw;
    color: #000;
    border: solid 1.5px #000;
    text-align: center
}

.intro-p4-block2 {
    padding-top: 5px;
    float: left;
    height: 5vw;
    width: 2.5vw;
    font-weight: 350;
    font-size: 1.2em;
    line-height: 1.6vw;
    color: #000;
    border: solid 1.5px #000;
    text-align: center
}

.intro-p4-block3 {
    padding-top: 5px;
    float: left;
    height: 6.5vw;
    width: 2.5vw;
    font-weight: 350;
    font-size: 1.2em;
    line-height: 1.5vw;
    color: #000;
    border: solid 1.5px #000;
    text-align: center
}