* {
    font-family: 'Noto Sans TC', 微軟正黑體, sans-serif;
}
.page-research_achievements {
    background-image: url(../image/bg/19_1.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw
}

.ra-color_block {
    position: absolute;
    top: 28vh;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 119, 153, .4)
}

.ra-block {
    position: absolute;
    top: 21vh;
    left: 28vw;
    width: 50vw;
    height: 70vh
}

.ra-title1 {
    line-height: 3vh;
    color: #fff
}

.ra-title1_1 {
    font-weight: regular;
    position: fixed;
    top: 20vh;
    left: 28vw;
    background-size: 220px 12px;
    background-repeat: no-repeat;
    background-position: right bottom;
    font-size: 2em;
    color: #000;
    height: 8vh;
    width: 35vw;
    display: flex;
    align-items: flex-start
}

.ra-title2 {
    font-weight: 700;
    font-size: 1.9em;
    position: fixed;
    top: 30vh;
    left: 28vw;
    line-height: 6vh;
    letter-spacing: 4px;
    margin-top: .5vmin;
    color: #fff;
    opacity: .9
}

.ra-circle_block {
    position: absolute;
    top: 17.5vh;
    width: 150vmin;
    height: 70vmin;
    margin-top: 0;
    border: solid 0 green
}

.ra-circle_b {
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 60vmin;
    top: 16vmin;
    width: 50vmin;
    height: 16vmin;
    border-radius: 15px;
    background: #014c63;
    color: #fff;
    line-height: 16vmin;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    opacity: .5
}

.ra-circle_l {
    position: absolute;
    width: 17vmin;
    height: 17vmin;
    border-radius: 8%;
    border: solid 3px #fff;
    line-height: 3vmin;
    text-align: right;
    font-weight: 700;
    font-size: 15px;
    color: #fff;
    padding: 15px
}

.ra-circle_2 {
    position: absolute;
    width: 17vmin;
    height: 17vmin;
    border-radius: 8%;
    border: solid 3px #fff;
    line-height: 3vmin;
    text-align: left;
    font-weight: 700;
    font-size: 17px;
    color: #fff;
    padding: 15px
}

.ra-circle_3 {
    position: absolute;
    width: 20vmin;
    height: 20vmin;
    border-radius: 8%;
    border: solid 3px #fff;
    line-height: 3vmin;
    font-weight: 700;
    font-size: 15px;
    color: #fff;
    padding: 15px;
    text-align: right
}

.ra-circle_4 {
    position: absolute;
    width: 20vmin;
    height: 20vmin;
    border-radius: 8%;
    border: solid 3px #fff;
    line-height: 3vmin;
    font-weight: 700;
    font-size: 15px;
    color: #fff;
    padding: 15px;
    text-align: left
}

.ra-circle_l:hover {
    background: rgba(255, 255, 255, .6);
    color: #024e66
}

.ra-circle_2:hover {
    background: rgba(255, 255, 255, .6);
    color: #024e66
}

.ra-circle_3:hover {
    background: rgba(255, 255, 255, .6);
    color: #024e66
}

.ra-circle_4:hover {
    background: rgba(255, 255, 255, .6);
    color: #024e66
}

.ra-c1 {
    left: 102vmin;
    top: -2.5vmin;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end
}

.ra-c2 {
    left: 54vmin;
    top: -2.5vmin;
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}

.ra-c3 {
    left: 93vmin;
    top: 28.5vmin;
    display: flex;
    flex-direction: column-reverse
}

.ra-c4 {
    left: 45vmin;
    top: 28.5vmin;
    display: flex;
    flex-direction: row;
    justify-content: flex-start
}

.ra-text_block {
    position: absolute;
    top: 20vh;
    left: 65vmin;
    width: 15vw;
    height: 40vh;
    border: solid 0 #00f;
    display: none
}

.ra-title3 {
    height: 6vh;
    line-height: 5vh;
    color: #fff
}

.ra-text {
    height: 4vh;
    line-height: 3vh;
    color: #fff
}

.page-research_highlights {
    background-image: url(../image/bg/10.png), url(../image/p4.png);
    background-size: cover, auto;
    background-repeat: no-repeat, repeat;
    height: 100vh
}

.mobile {
    display: none
}