* {
    font-family: 'Noto Sans TC', 微軟正黑體, sans-serif;
}

.nl-page{
    background-image:url(../image/bg/產博公告-20.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position:left,top;
    height:100vh;
    width: 100vw;
}
.container{
    position: relative;
    top: 0px;
    left: 0px;
    width:100%;
    height: 100%;
    overflow: hidden;
}
.intro-bigTitle_1{
    font-weight: regular;
    position: fixed;
    top:18.5vh;
    left:28vw;
    background-image:url(../image/icon/underline.png);
    background-size:220px 12px; 
    background-repeat: no-repeat;
    background-position: right bottom;
    font-size: 2.4em;
    color: #000000;
    height: 8vh;
    width: 16.9vw;
    display: flex;
    align-items: flex-start;
}
.content{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    top: 30vh;
    left: 28vw;
    width: 60%;
    height: 60%;
}
.text{
    height: 10%;
    width: 100%;
    font-size: 1.5vw;
    font-family: 'Noto Sans TC', 微軟正黑體, sans-serif;

}
.bar{
    width: 100%;
    height: 2px;
    background-color: #000;
}
.news-title {
    height: 50vh;
    width: 100%;
}
.hp-newsheader{
    height: 8vh;
    width: 38vw;
    /*border: 2px grey solid;*/
}
.nl-container{
    position: fixed;
    top: 33vh;
    right: 30vw;
    height:30vh;
    width:42vw;
}
.nl-list_item{
    /*height: 30px;*/
    width: 100vw;
    margin-top: 5vh;
    margin-bottom: 1.5vh;
    height: 12vh;
}
.nl-news_item_date{
    line-height: 3vh;
    font-size: 0.9em;
    float: left;
    font-weight: regular ;
    color: #024E66;
    height: 2vh;
}
.dash{
    background-image:url(../image/icon/news_01.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 1vh; 
    float: left;
    width:3vw;
    height: 1vh;
}
.nl-news_item_title{
    float: left;
    width: 40vw;
    line-height: 3vh;
    margin-left: 0vw;
    font-weight: 500;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    color: #505050;
}
.hp-news_item_title{
    font-weight: 350;
    font-size: 1.2em;
    line-height: 3.5vh;
    letter-spacing: 0.1em;
    color: #505050;
}
.newslist_nav{
    position: absolute;
    right: 8vh;
    bottom: 8vh;
    width: 55vmin;
    height: 50px;
}
.nl-first_page{
    float:left;
    width: 4.2vmin;
    height:4.2vmin;
    margin: 1.4vmin;
    background-image: url(../image/icon/產博公告-21.png);
    background-size: cover;
}
.nl-first_page:hover{ 
    background-image: url(../image/icon/產博公告-23.png); 
}
.nl-prev_page{
    float:left;
    width: 4.2vmin;
    height:4.2vmin;
    margin: 1.4vmin;
    margin-left: 1vmin;
    margin-right: 1vmin;
    background-image: url(../image/icon/產博公告-22.png);
    background-size: cover;
}
.nl-prev_page:hover{  
    background-image: url(../image/icon/產博公告-24.png); 
}
.spot{
    float: left;
    background-image: url(../image/icon/產博_手機版-14.png);
    height: 4vmin;
    width: 13vmin;
    background-repeat: no-repeat;
    background-position: center,bottom;
    background-size: contain;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 1.4vmin;
}
.nl-page_num{
    float:left;
    width: 4.2vmin;
    height:4.2vmin;
    margin: 1.4vmin;
    margin-left: 0.2vmin;
    margin-right: 1vmin;
    border-radius: 50%;
    /*background: #323232;*/
    color: white;
    text-align: center;
    line-height: 4.2vmin;
    font-size: 0.8em;
}
.nl-page_max_num{
    float:left;
    width: 4.2vmin;
    height:4.2vmin;
    margin: 1.4vmin;
    margin-left: 1.2vmin;
    margin-right: 0vmin;
    border-radius: 50%;
    /*background: #969696;*/
    color: white;
    text-align: center;
    line-height: 4.2vmin;
    font-size: 0.8em;
}
.nl-next_page{
    float:left;
    width: 4.2vmin;
    height:4.2vmin;
    margin: 1.4vmin;
    margin-left: 1vmin;
    margin-right: 1vmin;
    background-image: url(../image/icon/產博公告-22.png);
    transform:rotate(180deg);
    background-size: cover;
}
.nl-next_page:hover{ 
    background-image: url(../image/icon/產博公告-24.png);
    transform:rotate(180deg);
}
.nl-last_page{
    float:left;
    width: 4.2vmin;
    height:4.2vmin;
    margin: 1.4vmin;
    margin-left: 1vmin;
    margin-right: 1vmin;
    background-image: url(../image/icon/產博公告-21.png);
    transform:rotate(180deg);
    background-size: cover;
}
.nl-last_page:hover{  
    background-image: url(../image/icon/產博公告-23.png);
    transform:rotate(180deg);
}
#jump_to{
    position: absolute;
    bottom:7vh;
    left:13.5vw;
    border: solid 0px #323232;
    border-radius: 0vmin;
    margin: 1.4vmin;
    margin-left: 1vmin;
    margin-right: 1vmin
    padding-left: 5px;
    width: 12vmin;
    height: 3vmin;
    background: rgba(1,1,1,0);
    background-image: url(../image/icon/產博公告-25.png);
    background-size: contain;
    background-repeat: no-repeat; 
}
.nl-go{
    position: absolute;
    bottom:8.8vh;
    left:21.3vw;
    margin-top: 2.1vmin;
    margin-left: -5vmin;
    width: 2.2vmin;
    height:2.2vmin;
}
.nl-go:hover{  
    background-image: url(../image/btn/btn_ok_rv.svg); 
}