* {
    font-family: 'Noto Sans TC', 微軟正黑體, sans-serif;
}
.mobile-hidden{
    display: none;
}
.hp-p01{
    /*
    background-image:none,none;
    background-size:cover,auto;
    background-repeat: no-repeat,repeat;
    height:100vh;
    transition: all 1.5s ease-in-out;
    */
    display: none;
}
.hp{
    background-image: url(../image/Mobile_500x600/產博_手機版-07.jpg);
    background-size:cover,auto;
    background-repeat: no-repeat;
    height:100vh;
    width: 100vw;
    overflow-x: hidden;
}
.language-opt{
        position:absolute;
        top: 140px;
        left: 40%;
        font-size:0.8em;
}
#foot{
    display: none;
}
#p5-announce-block{
    display: none;
}
