* {
    font-family: 'Noto Sans TC', 微軟正黑體, sans-serif;
}
.page-intro{
    background-image:url(../image/Mobile_500x600/產博_手機版-02.jpg),url(../image/p4.png);
    background-size:cover,auto;
    background-repeat: no-repeat,repeat;
    height:100vh;
}
.intro-subpage-1{
    float: left;
    width: 70%;
    left: 15%;
    height: 70%;
    top: 14.5%;
    border: 0px green solid;
    white-space: normal;
    position: absolute;
    font-size: 4vw;
}
.intro-bigTitle_1{
    font-weight: regular;
    position: fixed;
    top:16vh;
    left:15vw;
    font-size: 3vh;
    color: #000000;
    height: 3.3vh;
    width: 50vw;
    display: flex;
    align-items: flex-start;
    letter-spacing:0.2em;
}
.intro-first-page-text_1{
    font-weight: regular;
    position: fixed;
    top: 27vh;
    left: 15vw;
    height:45vh;
    width:70vw;
    font-size: 0.8em;
    line-height: 1.8em;
    letter-spacing: 0.1em;
    color: #000000;
    overflow-y: scroll;
}
.download-information{
    font-weight: regular;
    font-size: 0.8em;
    line-height: 2em;
    color: #000000;
    position: fixed;
    top: 79vh;
    left:15vw;
    width: 45vw;
}
.download{
    background-image: url(../image/bg/產博修業＿切版-02.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    width:4.5em;
    height: 1em;
    top: 84vh;
    left: 68vw;
    border-radius: 10%;
}